<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message</title>

    <!--    ///////////////////////////////-->
    <link rel="stylesheet" href="css\plugins.css">
    <link rel="stylesheet" href="css\style-demo.css">
    <link class="site-color" rel="stylesheet" href="css\blue-color.css">
    <!--//////////////////////////////-->
    <style>
        .text-array {
            margin: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%)
        }
    </style>
</head>
<body>
<div class="text-array">
    <center><h2><span class="icon"><i class="fas fa-paper-plane"></i></span></h2></center>
    <h2>Your message has been delivered successfully.</h2>
    <br>
    <center><h3><a href="/">Return to the homepage</a></h3></center>
</div>
</body>
</html>